<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
</style>
.red{color: red;}
.blue{color:blue}
section{
    height: 80vh;
    border: 1px solid black;
    font-family: "Roboto", sans-serif;
}
