<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="templates.css">
</head>
<body>
    <header class="navbar">
        <h1 class navbar__logo><img src="./assets/FES.svg" alt="FES logo"></h1>
        <nav class="navbar__links">
            <a href="placeholder">Home</a>
            <a href="placeholder">About</a>
            <a href="placeholder">FAQ</a>
            <a href="placeholder">Contact</a>
        </nav>
    </header>
    <main>

    </main>
    <footer>Copyright 2026. Your mom goes to college.</footer>
</footer>


</body>
</html>