.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  background-color: #464864;
}
.navbar img{
    height: 100px;
    width: 600px;
}

.navbar__links{
  display: flex;
  gap: 50px;
}
.navbar__links a{
  color: 	#edcc69;
  text-decoration: none;
  font-weight: 300;
  font-size: 33px;

}
.navbar__links a:hover{
  text-decoration: underline;
}